﻿﻿<section id="dashboard-view" class="mainbar" ng-controller="createExpenseCtrl">
	<a href="/#/expenses" class="btn btn-primary">Go back</a>
	<br />

	<h1>{{title}}</h1>

	<div ng-controller="createExpenseCtrl">
		<form novalidate class="simple-form" name="expenseForm" ng-submit="submitForm(expenseForm.$valid)">

			<div class="form-group">
				<label class="col-md-2 control-label">Date:</label>
				<input type="date" ng-model="model.date" name="date" class="form-control" required />
				<div ng-show="form.$submitted || form.date.$touched">
					<span ng-show="form.date.$error.required">The date is required.</span>
					<span ng-show="form.date.$error.date">This is not a valid date.</span>
				</div>
				<p ng-show="userForm.date.$invalid" class="help-block">The date is required.</p>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Litres:</label>
				<input type="text" name="litres" ng-model="model.litres" ng-change="calculate()" class="form-control" required placeholder="0.0" />
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Price (per liter):</label>
				<input type="text" ng-model="model.pricePerLiter" ng-change="calculate()" class="form-control" placeholder="0.00" />
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Overall price:</label>
				<input type="text" name="overallPrice" ng-model="model.overallPrice" class="form-control" required placeholder="0.0" />
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Mileage (before refuel):</label>
				<input type="text" ng-model="model.mileageBeforeRefuel" class="form-control" required placeholder="000.0" />
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Gas station:</label>
				<input type="text" ng-model="model.gasStation" class="form-control" />
			</div>
			<div class="form-group">
				<input type="button" ng-click="clear()" value="Reset" class="btn btn-default" />
				<input type="submit" value="Create" ng-disabled="expenseForm.$invalid" class="btn btn-primary" />
			</div>
		</form>

		<div class="col-md-5">
			<div class="progress" ng-show="isUploaded">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
					<span class="sr-only">90% Complete</span>
				</div>
			</div>
		</div>

	</div>
</section>
