﻿<div class="container" ng-controller="manageAccountCtrl">

	<h3 class="text-info">{{::title}}</h3>

	<div class="row" ng-show="doPassword">
		<div class="col-md-3">
			<button ng-click="showPasswordForm()">Change password</button>
		</div>
	</div>

	<div class="row" ng-show="successMsg!=''">
		<h2 class="text-success">{{successMsg}}</h2>
	</div>

	<form name="passwordForm" ng-show="!doPassword">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="oldPassword">Old password:</label>
					<input class="form-control" id="oldPassword" type="password" ng-model="changePassword.oldPassword" required autofocus />
				</div>
				<div class="form-group">
					<label for="newPassword">New password:</label>
					<input class="form-control" type="password" id="newPassword" ng-model="changePassword.password" required />
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm new password:</label>
					<input class="form-control" type="password" id="confirmPassword" ng-model="changePassword.confirmPassword" compare-to="changePassword.password" required>
				</div>
			</div>
		</div>
		<div class="row" ng-show="passwordForm.$valid">
			<div class="col-md-12">
				<input class="btn btn-success" type="submit" ng-click="doChangePassword(passwordForm.$valid, changePassword)" value="Change password" /><br />
			</div>
		</div>
	</form>

	<br /><br />

	<div class="row" ng-show="errorMsg!=''">
		<h2 class="text-danger">{{errorMsg}}</h2>
	</div>
</div>
