﻿<br />

<div ng-controller="view as vm">
	<form novalidate class="simple-form" name="expenseForm">

		<div class="form-group">
			<label class="col-md-2 control-label">Date:</label>
			<input type="date" datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" ng-model="vm.expense.date" name="date" class="form-control" required readonly />
			<div ng-show="form.$submitted || form.date.$touched">
				<span ng-show="form.date.$error.required">The date is required.</span>
				<span ng-show="form.date.$error.date">This is not a valid date.</span>
			</div>
			<p ng-show="userForm.date.$invalid" class="help-block">The date is required.</p>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Litres:</label>
			<input type="text" name="literes" ng-model="vm.expense.literes" readonly class="form-control" required />
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Price (per liter):</label>
			<input type="text" ng-model="vm.expense.pricePerLiter"  class="form-control"  readonly/>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Overall price:</label>
			<input type="text" name="overallPrice" ng-model="vm.expense.overallPrice" class="form-control" required readonly />
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Mileage (before refuel):</label>
			<input type="text" ng-model="vm.expense.mileageBeforeRefuel" class="form-control" required readonly />
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Gas station:</label>
			<input type="text" ng-model="vm.expense.gasStation" class="form-control" readonly />
		</div>
		<div class="form-group">
			<a href="/#/expenses" class="btn btn-primary">Go back</a>
		</div>
	</form>

</div>